<!DOCTYPE html>
<html>
<head>
	<title>Add Emp Output</title>


</head>
<body>
	<center>
		<font color="black" size="4" style="font-family: 'Times New Roman', Times, serif">
			<body style="background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);">
				<br>
				<h1>SAVE SUCCESSFUL</h1><br>
				<h2>Following Employee has been added to the database</h2><br>
				<h2>{{ name }}</h2><br>
				
					<form action="addemp" autocomplete="on" method = "GET">
	
						<button type="submit" style="background: rgb(0, 0, 0); height: 45px; width: 200px; color:white; font:oblique;">GO BACK</button><br><br>
	
					</form>
			</body>
		</font>
	</center>
</body>
</html>
