<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information using AWS</title>

</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: rgb(104, 50, 0); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">EMPLOYEE DATABASE (AWS)</h1>

		<body style="background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);">

			<form action="/addemp" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<button type="submit" formaction="/getemp" style="background: rgb(0, 0, 0); height: 45px; width: 400px; color:rgb(255, 230, 0); font:oblique;">GET EMPLOYEE INFORMATION</button><br><br>

		  		Employee ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id" autofocus size="40"><br><br>

		  		First Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="first_name" ><br><br>

		  		Last Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="last_name"><br><br>

		  		Primary Skills:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="pri_skill"><br><br>

		  		Location:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="location"><br><br>

		  		Image: <input type=file name="emp_image_file" style="height:25px;font-size:10pt;color:rgb(0, 0, 0);"> <br><br>

		  		<button type="submit" style="background: rgb(0, 0, 0); height: 45px; width: 200px; color: white; size: 5; font:oblique;">UPDATE DATABASE</button>

			</form> <br>
<a href="https://theshivanshvasu.github.io/">About Developer</a>
		</body>

	</font>
</center>
</html>
