	<!DOCTYPE html>
<html>
<head>
	<title>Get Employee Information</title>
</head>
<center>
	<font size="5" style="font-family: avenir">

		<h1 style="color: rgb(0, 0, 0)">Employee Information</h1>

		<body style="background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);">

			<form action="/fetchdata" autocomplete="on" method="POST">

				<h3 style="color: rgb(0, 0, 0)">Enter Employee ID</h3>

		  		Employee ID:<br> <input style="height:25px;font-size:10pt;" type="number" name="emp_id" autofocus size="30"><br><br>


		  		<button type="submit" style="background: rgb(0, 0, 0); height: 45px; width: 200px; color: white; size: 5; font:oblique;">FETCH INFO</button><br><br>

		  		<button type="submit" formaction="#" style="background: rgb(255, 251, 0)	; height: 45px; width: 400px; color: rgb(0, 0, 0); size: 5; font:oblique;" method="GET">GO TO UPDATE DATABASE PAGE</button>

			</form>

		</body>
	</font>
</center>
</html>
